{% extends "ArquitecturaBaseBundle:Administracion:base_admin.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/select2/css/select2.css') }}" rel="stylesheet"/>

{% endblock %}

{% block titulo %}Agregar nuevo usuario{% endblock %}

{% block cuerpo %}
    {{ form_start(form, {'attr': {'validate':'novalidate'} }) }}

    <div class="col-col-sm-12 col-lg-12 col-md-12 " style="border-bottom: 1px dotted #e2e2e2; margin-bottom: 10px;">

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="{{ form.nombre.vars.id }}">
                Nombre de usuario
            </label>
            <div class="col-sm-9">
                {{ form_widget(form.nombre) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="{{ form.password.vars.id }}">
                Contraseña
            </label>
            <div class="col-sm-5">
                {{ form_widget(form.password) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="{{ form.roles.vars.id }}">
                Rol en el sistema
            </label>
            <div class="col-sm-5">
                {{ form_widget(form.roles) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="{{ form.activo.vars.id }}">
                Activo
            </label>
            <div class="col-sm-5">
                {{ form_widget(form.activo) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="{{ form.descripcion.vars.id }}">
                Descripción
            </label>
            <div class="col-sm-5">
                {{ form_widget(form.descripcion) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="{{ form.correo.vars.id }}">
                Correo
            </label>
            <div class="col-sm-5">
                {{ form_widget(form.correo) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="{{ form.foto.vars.id }}">
                Foto de perfil
            </label>
            <div class="col-sm-5 col-lg-3 col-md-3">
                {{ form_widget(form.foto) }}
            </div>
        </div>
    </div>

    <div class="align-right">
        {{ form_widget(form.save) }}
    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/select2/js/select2.js') }}"></script>
    <script src="{{ asset('assets/select2/js/i18n/es.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $("#{{ form.roles.vars.id }}").select2({
                language: 'es',
                minimumResultsForSearch: Infinity
            });
            $("#{{ form.foto.vars.id }}").ace_file_input({
                allowExt:  ['jpg', 'jpeg', 'png'],
                thumbnail: 'fit', //small, large or fit cuando style = "well"
                no_file: 'Seleccione un fichero...',
                btn_choose: 'Seleccionar',
                btn_change: 'Cambiar',
                style: 'well',
                icon_remove: 'fa fa-trash-o',
                maxSize: 100000, //~100 KB
                allowMime: ['image/jpg', 'image/jpeg', 'image/png'],
            });
            $("#{{ form.vars.id }}").validate({
                submitHandler: function(form) {
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}
