{% extends "ArquitecturaBaseBundle:Administracion:base_admin.html.twig" %}

{% block titulo %}Gestionar concesiones{% endblock %}



{% block cuerpo %}

    <div class="row" style="min-height: 250px;">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <td>Etiqueta</td>
                <td>Ruta</td>
                <td>Activo</td>
                <td>Padre</td>
                <td>Submenus</td>
                <td>Icono</td>
                <td>&nbsp;</td>
            </tr>
            {% for menu in menus %}
                <tr>
                    <td>{{ menu.etiqueta }}</td>
                    <td>{{ menu.ruta }}</td>
                    <td>
                        {% if menu.activo == 1 %}
                            Activo
                        {% else %}
                            Inhabilitado
                        {% endif %}
                    </td>
                    <td>
                        {% if menu.padre is sameas(null)  %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        {% if menu.elementos|length > 0  %}
                            {{ menu.elementos|length }}
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        {% if menu.icono is not null %}
                            <img class="nav-user-photo" src="{{ asset(menu.icono.fichero) }}" alt="Avatar" width="24" height="24"/>
                        {% else %}
                            <img class="nav-user-photo" src="{{ asset('assets/ace-admin/images/iconos_menu/no-image.png') }}" alt="Avatar" width="24" height="24"/>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-xs btn-info" href="{{ path('crear_concesion', { 'idmenu' : menu.id } ) }}">
                            <i class="ace-icon fa fa-check bigger-120"></i>
                        </a>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No exiten menús registrados en el sistema</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <hr/>

{% endblock %}
