{% extends "ArquitecturaBaseBundle:Administracion:base_admin.html.twig" %}

{% block titulo %}Listar Usuarios{% endblock %}



{% block cuerpo %}

    <div class="row" style="min-height: 250px;">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <td>Identificador</td>
                <td>Nombre de usuario</td>
                <td>Roles</td>
                <td>Estado</td>
                <td>Correo</td>
                <td>Foto</td>
            </tr>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>
                        {% for rol in usuario.roles %}
                            {% if loop.first %}
                                {{ rol }}
                            {% else %}
                                , {{ rol }}
                            {% endif %}
                        {% else %}
                            Sin roles
                        {% endfor %}
                    </td>
                    <td>
                        {% if usuario.activo == 1 %}
                            Activo
                        {% else %}
                            Inhabilitado
                        {% endif %}
                    </td>
                    <td>{{ usuario.correo }}</td>
                    <td>
                        <img class="nav-user-photo" src="{{ asset('imagenesperfil/'~usuario.foto) }}" alt="Avatar" width="64" height="64"/>
                    </td>
                    {% set opciones = {'ruta_eliminar': path('usuario_eliminar',{'idusuario': usuario.id} )} %}
                    {% include '@Administracion/Comunes/opciones_tabla.html.twig' with opciones %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No exiten usuarios registrados</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <hr/>

    <div class="row align-right">
        <a class="btn btn-primary" href="{{ path('usuario_agregar') }}">Agregar</a>
    </div>

{% endblock %}
